.card {
    height: 400px;
}
.portfolioImage{
    height: 300px;
}

@media screen and (max-width: 992px) {
    .card {
        height: 300px;
    }
    .portfolioImage{
        height: 200px;
    }
}
@media screen and (max-width: 600px) {
    .card {
        height: 250px;
    }
    .portfolioImage{
        height: 150px;
    }
}