.card {
    height: 400px;
}
.portfolioImage, .card-image {
    height: 300px;
    
}

@media screen and (max-width: 992px) {
    .card {
        height: 300px;
    }
    .portfolioImage, .card-image {
        height: 200px;
    }
}
@media screen and (max-width: 600px) {
    .card {
        height: 250px;
    }
    .portfolioImage, .card-image {
        height: 150px;
    }
}