#about {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: white;
    padding: 10px 20px;

    font-size: large;
    font-family: 'Nunito', sans-serif;
}
#photoAndResumes {
    padding: 10px;
}
#headshot {
    max-width: 100%;
}
#headshot > img {
    height: auto;
    /*width: 400px;*/
    max-width: 100%;
    float: left;
    margin: 5px 0px 0px 5px;

    border-style:double;
    border-width: medium;
    border-radius: 10px;
}
li {
    text-align: center;
}




.logosDiv{
    text-align: center;
}
.psuLogo, .bootCampLogo, .sjLogo{
    display: inline-block;
}
.psuLogo > img, .bootCampLogo > img, .sjLogo > img {
    max-height: 150px; 
    max-width: 100%;   
}

@media screen and (max-width: 992px) {
    #links > .logosDiv {
        display: none;
    }
    .article-container > .logosDiv {
        display: block;
    }
}
@media screen and (min-width: 993px) {
    #links > .logosDiv {
        display: block;
    }
    .article-container > .logosDiv {
        display: none;
    }
}

