/* .portfolioImage {
    max-height: 400px;
} */
#portfolio {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: white;
    padding: 20px;
}
